amqp==2.3.2
autocorrect==0.3.0
billiard==3.5.0.4
celery==4.2.1
chkcsv==0.8.0.2
Django==2.1.2
django-ckeditor==5.6.1
django-cors-headers==2.4.0
django-extensions==2.1.0
django-filter==2.0.0
django-fontawesome==1.0
django-geojson==2.11.0
django-js-asset==1.1.0
django-leaflet==0.24.0
django-templated-mail==1.1.1
django-webpack-loader==0.6.0
djangorestframework==3.8.2
djoser==1.2.1
elasticsearch==6.3.1
future==0.16.0
geographiclib==1.49
geopy==1.17.0
isodate==0.6.0
jobtastic==2.0.0
jsonfield==2.0.2
kombu==4.2.1
neo4j-driver==1.5.3
nltk==3.2.5
numpy==1.15.2
olefile==0.45.1
pandas==0.23.4
Pillow==5.0.0
pprint==0.1
psutil==3.4.2
psycopg2==2.7.5
psycopg2-binary==2.7.5
py2neo==3.1.2
pyparsing==2.2.0
pyproj==1.9.5.1
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
rdflib==4.2.2
selenium==3.11.0
Shapely==1.6.4.post2
six==1.11.0
sparklines==0.4.1
SPARQLWrapper==1.8.0
urllib3==1.23
vine==1.1.4
virtualenv==16.0.0
