<!-- contribute/home.html -->
{% extends "main/base.html" %}
{% block title %}<title>WHG::Contributing</title>{% endblock %}

{% block content %}
{% load static %}
{% load fontawesome %}

  <div class="container">
    <div class="d-flex justify-content-center mt-3">
      <h3>Contribution Dashboard</h3></div>
    <div class="d-flex justify-content-center">
      <h4 class="text-danger">{{ user.username }}</h4></div>
    <div class="px-5">
      <h4>Datasets
        <a href="{% url 'ds_new' %}" class="ml-5">{% fontawesome_icon 'plus-square' color='#336699' %}</a></h4>
      {% for d in datasets %}
        <div class="dataset-box mb-2">
          <h4>{{ d.name }}
            <!-- TODO: confirm popup dialog -->
              <a onclick="return confirm('Are you sure?')"
                href="{% url 'ds_delete' d.id %}" class=" float-right"
                title="Delete dataset" rel="tooltip">
                {% fontawesome_icon 'trash' color='#336699' %}</a>
            <!-- TODO: edit (same as create)-->
            <a href="{% url 'ds_update' d.id %}" title="Edit metadata" rel="tooltip"
            class="float-right mr-3">{% fontawesome_icon 'edit' color='#336699' %}</a>
            {% if d.status == 'format_ok' %}
            <a href="{# url 'ds_insert' d.id #}" title="View/edit table" rel="tooltip"
            class="float-right mr-3">{% fontawesome_icon 'table' color='#336699' %}</a>
            <a href="{% url 'ds_insert' d.id %}" title="Insert to db" rel="tooltip"
            class="float-right mr-3">{% fontawesome_icon 'database' color='#336699' %}</a>
            {% endif %}

          </h4>
          <p>
            <b>Label</b>: {{ d.label }} <br/>
            <b>Description</b>: {{ d.description }} <br/>
              {% if d.file %}
                <b>File</b>: <span class="text-danger">{{ d.file }}</span><br/>
              {% endif %}
             <b>Uploaded</b>: {{ d.upload_date }}
             {% if d.mapbox_id %}
               <span class="ml-3"><a href="{% url 'maps_home' %}">Map</a></span>
             {% endif %}
           </p>
        </div>
      {% endfor %}
    </div>
  </div>
  <script>
    $("[rel='tooltip']").tooltip();
    // $(document).on('click', '.confirm-delete', function(){
    //   var r = confirm('Are you sure ?');
    //
    // })

    // TODO: prettier
    // function testConfirm() {
    //   var $dialog = $('<div></div>')
    //     .html("Are you sure you want to delete?")
    //     .dialog({
    //       resizable: false,
    //       title: "Confirm Deletion",
    //       modal: true,
    //       buttons: {
    //         Cancel: function() {
    //           $(this).dialog("close");
    //         },
    //         "Delete": function() {
    //           //some stuff
    //           $(this).dialog("close");
    //         }
    //       }
    //     });
    //
    //   $dialog.dialog('open');
    // }
  </script>
{% endblock %}
