<!-- contribute/ds_form.html -->
{% extends "main/base.html" %}
{% block title %}<title>WHG::Create/Update</title>{% endblock %}

{% block content %}
{% load static %}

  <div class="container">
    <h3>Create/Update dataset</h3>
    <div class="d-flex">
    <div class="form-box mt-3">
      <!-- action="{# url 'contrib_upload' #}"  -->
      <form id="ds_form" method="POST" action="#" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="user" value='{{ user.id }}'></input>
        <p>Name: {{ form.name }}</p>
        <p>Label: {{ form.slug }} <span class=text-danger><i>12 char max, no spaces</i></span></p>
        <p>Description: {{ form.description }}</p>
        <p>Data type {{ form.datatype }}</p>
        <p>Format {{ form.format }}</p>
        {% if action == 'update' %}
          <p>Current file: <span class="text-danger" >{{ form.file.value }}</span></p>
        {% elif action == 'new' %}
          <p>
            <input class="text-danger" type="file" name="file"
              value='{{ form.file }}'></input>
          </p>
        {% endif %}
        <br/>
        <input class="btn btn-primary" type="submit" value="Save"/>
        <a href="{% url 'contrib_dashboard' %}">Cancel</a>
      </form>
    </div>
    {% if errors %}
    <div class="form-box mt-3 ml-3" id="ds_errors">
      <h5 class="text-danger">Errors</h5>
      <ol>
        {% for e in errors %}
          <li>{{ e }}</li>
        {% endfor %}
      </ol>
    </div>
    {% endif %}
  </div>
  </div>

{% endblock %}
<!-- <p>{{ form.non_field_errors }}</p> -->
