<!-- contribute/ds_table.html -->
{% extends "main/base.html" %}
{% load i18n staticfiles %}
{% block title %}<title>Dataset {{ ds.id }}</title>{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css"
   href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css"
   href="//cdn.datatables.net/select/1.2.7/css/select.dataTables.css">

  <script type="text/javascript" charset="utf8"
    src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="//cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>

  <script src="{% static "contribute/ds_grid.js" %}"></script>

  <script type="text/javascript">
      var DSGRID_JSON_URL = '{% url "ds_grid_json"%}';
      // translations for datatables
      var dt_language = {
          "emptyTable":     "{% trans "No data available in table" %}",
          "info":           "{% trans "Showing _START_ to _END_ of _TOTAL_ entries" %}",
          "infoEmpty":      "{% trans "Showing 0 to 0 of 0 entries" %}",
          "infoFiltered":   "{% trans "(filtered from _MAX_ total entries)" %}",
          "infoPostFix":    "",
          "thousands":      ",",
          "lengthMenu":     "{% trans "Show _MENU_ entries" %}",
          "loadingRecords": "{% trans "Loading..." %}",
          "processing":     "{% trans "Processing..." %}",
          "search":         "{% trans "Search:" %}",
          "zeroRecords":    "{% trans "No matching records found" %}",
          "paginate": {
              "first":      "{% trans "First" %}",
              "last":       "{% trans "Last" %}",
              "next":       "{% trans "Next" %}",
              "previous":   "{% trans "Previous" %}"
          },
          "aria": {
              "sortAscending":  "{% trans ": activate to sort column ascending" %}",
              "sortDescending": "{% trans ": activate to sort column descending" %}"
          }
      }
  </script>
{% endblock %}

{% block content %}
  {% load fontawesome %}
  {% load static %}

  <div class="container float-right col-sm-6 pt-6" >
    <table class="datatable stripe row-border hover">
        <thead>
            <th>{% trans "placeid" %}</th>
            <th>{% trans "src_id" %}</th>
            <th>{% trans "title" %}</th>
            <th>{% trans "ccode" %}</th>
        </thead>
        <tbody>
        </tbody>
    </table>
  </div>
{% endblock %}
