<!-- contribute/upload.html -->
{% extends "main/base.html" %}
{% block title %}<title>WHG::Upload</title>{% endblock %}

{% block content %}
{% load static %}

  <div class="container">
    <h3>Edit upload</h3>
    <div class="form-box mt-3">
      <form id="form_upload" method="POST" action="#" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="owner" value='{{ user.id }}'></input>
        <i>not working</i>
        <p>Name:
          <input type="text" name="name" value='{{ dataset.name }}'></input>
        </p>
        <p>Slug:
          <input type="text" name="slug" value='{{ dataset.slug }}'></input>
        </p>
        <p>
          <input type="file" name="file" value='{{ dataset.file }}'></input>
        </p>
        <span class="text-danger">{{ dataset.file }}</span>
        <br/>
        <input class="btn btn-primary" type="submit" value="Save"/>
      </form>
    </div>
  </div>

{% endblock %}
<!-- <p>{{ form.non_field_errors }}</p> -->
