<!-- places/place_detail.html -->
{% extends "main/base.html" %}
{% load fontawesome %}
{% load static %}
{% load dataset_extras %}
{% load leaflet_tags %}

{% block title %}<title>Place::{{ place.title }}</title>{% endblock %}
{% block extra_head %}
  {% leaflet_js %}
  {% leaflet_css %}
{% endblock %}
{% block content %}
<div class="container">
  <div id="place_title">
    <h4>{{ place.title }} 
      <span class="small">{% if ccodes|length > 0 %} ({% for c in ccodes %}{{ c }} {% endfor %}){% endif %}</span>
      <span class="smaller float-right"> <i>{{ purl }}</i>
        {% if place.dataset in spine %}<a href="" rel="tooltip" title="WHG spine record">
          <img src="{% static 'images/whg_logo_38h.png' %}" height="25px" class="textsub ml-2"/></a>
        {% endif %}
      </span>
    </h4>
  </div>
  <div id="place_tabset">
    <ul class="nav nav-tabs" id="myTab">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#place_core" selected>Place Attestations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#place_traces">Related Traces</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#place_comments">Comments</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="place_core">
          <div class="row pt-1">
            <div id="place_home_l" class="col-sm-5">
              <div id="place_names" class="col-content small">
                <p class="mb-0 allcap-heading">NAME VARIANTS</p>
                <p class="mb-0">
                  {% for name in names %}
                  {% if not forloop.first %};{% endif %}
                    <a href="" rel="tooltip" title="{{ name.json|parse:'citation/label' }} 
                    ({{ name.json|parse:'citation/id' }})"><i>{{ name.json|parse:"toponym" }}</i></a>
                  {% endfor %}
                </p>
              </div>
              {% if types|length > 0 %}
                <div id="place_types" class="col-content mt-1 small">
                  <p class="mb-0 allcap-heading">PLACE TYPE(S)</p>
                  {% for t in types %}
                    {{ t.json|parse:'label' }} ({{ t.json|parse:'src_label' }})
                  {% endfor %}
                </div>
              {% endif %}
              {% if descriptions|length > 0 %}
                <div id="place_descriptions" class="col-content mt-1 small truncate ">
                  {% for d in descriptions %}
                    <div class="info-header pl-1">{{ d.json|parse:'id'}}</div>
                    <div class="bg-white pl-1">{{ d.json|parse:'value' }}</div>
                  {% endfor %}
                </div>
              {% endif %}
                <div id="place_children" class="col-content mt-1 small ">
                  <p class="mb-0 allcap-heading">LINKED RECORDS</p>
                  {{ children|json_script:"kid-data" }}
                  <div id="child_content"></div>
                </div>
            </div>
            <div id="place_home_r" class="col-sm-7">
              <div id="place_temporal" class="col-content small">
                {% if whens|length > 0 %}
                  <p class="mb-0 allcap-heading">TEMPORAL</p>
                  <p><i>visualize this: </i>
                  {% for w in whens %}
                    {{ w.json|parse:'timespans'}}
                  {% endfor %}
                  </p>
                {% else %}
                  <p>No record-wide temporal information yet</p>
                {% endif %}
              </div>
              <div class="row mt-1">
                <div class="col-sm-6">
                  <div id="place_map" class="col-content small">
                    <p class="mb-0 allcap-heading">MAP</p>
                    {% if geoms|length > 0 %}
                      {% for g in geoms %}
                        {{ g.json|parse:'geowkt'}}
                      {% endfor %}
                    {% else %}
                      <p>No geometry for parent; get from children if exist</p>
                    {% endif %}
                  </div>
                </div>
                <div class="col-sm-6">
                  <div id="place_graph" class="col-content small">
                    <p class="mb-0 allcap-heading">GRAPH</p>
                  </div>
                </div>
              </div> <!-- row -->
            </div> <!-- place_home_r -->
          </div> <!-- row -->
      </div>
      <div class="tab-pane fade" id="place_traces">
        <div class="container pt-2">
          <h5>Traces
            <span class="ml-1 small">
              <a href="" title="historical entities for which this place is relevant" rel="tooltip">
              {% fontawesome_icon 'question-circle' color='#336699' %}</a></span>
          </h5>
          <p>{ if None } No trace annotations for this place yet...<a href="">learn about contributing trace data</a> { endif }<p>
          <div id="traces">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    People
                  </button>
                </h5>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#traces">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Events
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#traces">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Datasets
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#traces">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                    Works/Texts
                  </button>
                </h5>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#traces">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
          </div>
        </div></div>
      <div class="tab-pane fade" id="place_comments">
        <div class="container pt-2">
          <h5>Comments</h5>
        </div></div>
    </div>
  </div>
</div> <!-- top container -->
<script type="text/javascript">
  $("[rel='tooltip']").tooltip();
  function parseChild(c) {
    // names{toponym,citation{id,label}},types{label,src_label,identifier}, 
    // descriptions{value}, geoms{geowkt,type,coordinates},
    html = '<div class="child-record"><p class="font-weight-bold">'+c['place_id']+' ('+c['dataset']+':'+c['src_id']+')</p>'+
      '<p><i>title</i>: '+c['title']+'('+c['ccodes']+')</p>'
    if (c['types'].length > 0) {
      html += '<p><i>type(s)</i>: '
      for (t in c['types']) {
        html += c['types'][t]['src_label']
      }
      html += '</p>'
    }
    if (c['descriptions'].length > 0) {
      html += '<p><i>description(s)</i>: </p><div style="max-height:75px; overflow:scroll;">'
      for (d in c['descriptions']) {
        <!--html += c['descriptions'][d]['value'].substring(0,100)+' ...'-->
        html += c['descriptions'][d]['value']
      }
      html += '</p>'
    }
    html+='</div>'
    return html
  }
  $(function() {
    html=''
    window.children = JSON.parse(document.getElementById('kid-data').textContent)['hits'];
    for(i in children) {
      var c = children[i]['_source']
      html += parseChild(c)
    }
    $("#child_content").html(html)
  })

  // initialize, render map w/settings.LEAFLET_CONFIG
  function map_init (map, options) {
    console.log('in map_init()')
  } // end map_init
</script>
{% endblock %}
