<!-- areas/area_create.html -->
{% extends "main/base.html" %}
{% load leaflet_tags %}
{% load fontawesome %}
{% block title %}<title>WHG::Create/Update Area</title>{% endblock %}
{% block extra_head %}
  {% leaflet_js %}
  {% leaflet_css %}
{% endblock %}

{% block content %}
  {% load static %}
  <div class="container">
    <h4 class="mt-3">
      {% if action == 'update' %}
      Update Study Area
      <a href="{% url 'areas:area-delete' object.id %}" class="float-right"
        title="Delete dataset" rel="tooltip" style="margin-top:-2px;">
        {% fontawesome_icon 'trash' color='#336699' %}</a>
      {% else %}Create Study Area{% endif %}
        <span class="small">{% fontawesome_icon 'question-circle' color='#336699' %}</span>
    </h4>
    <div class="d-flex">
      <div class="form-box mt-2 col-sm-6">
        <form id="ds_form" method="POST" action="#" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="owner" value='{{ user.id }}'></input>
          <input type="hidden" name="type" value='ccodes'></input>
          <p>Title: {{ form.title }}</p>
          {% if errors %}<p>{{ errors }}</p>{% endif %}
          <p><span class="top">Description:</span> {{ form.description }}</p>
          <p id="p_ccodes">Country codes: {{ form.ccodes }}
            <span class="float-right">
              <a href="javascript:{ map_render() }">preview</a></span>
          </p>
          <p id="p_geom" class="hidden"><span class="top">GeoJSON:</span>
            {{ form.geom }}
          </p>
          <!-- upload button only if it's not yet ok -->
          <!-- {# if status != 'format_ok' #} -->
          <input class="btn btn-primary" type="submit" value="Save" />
          <span title="back"><a href="{% url 'dashboard' %}">Cancel</a></span>
          <!-- {# endif #} -->
        </form>
      </div>
      <div id="map" class="col-sm-6 ml-3">
        {% leaflet_map "map" callback="map_init" %}
      </div>
    </div> <!-- d-flex -->
  </div> <!-- container -->
  <script type="text/javascript">
    $(function(){
      $( ".textarea" ).each(function(index) {
        if ( ["None","null"].includes( $(this).val() ) ) {
          $(this).val('')
        }
      });
    })
    // expose leaflet map for events, call it 'mappy'
    window.addEventListener('map:init', function (event) {
      window.mappy = event.detail.map
    }, false);

    function zoomTo(id) {
      mappy.setView(idToFeature[id]._latlng, mappy.getZoom() +2 )
    }

    function cleanJson(text) {
      z=text.replace(/'/g,'\\"')
      y=z.replace(/point/,'Point')
      return JSON.parse(JSON.parse(y))
    }

    function map_render() {
      console.log('in map_render()')
      ccodes = $("input#id_ccodes").val()
      window.geoj = $("textarea#id_geom.textarea")
      window.geom = {"type":"FeatureCollection","features":[]}
      // console.clear()

      var country_url = "/media/data/countries_simplified.json"
      // clear geoJSON
      if (Object.keys(mappy._layers).length >1 ) {
        cc_layer.clearLayers()
      }
      if (ccodes != '') {
        // TODO: test csv format
        $("#p_geom").show()
        ccode_arr = ccodes.toUpperCase().split(",")
        console.log(ccode_arr)
        fetch(country_url)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {
            console.log('fetched data', data)
            window.cc_layer = L.geoJson(data, {
              filter: function(feature, layer) {
                return ccode_arr.includes(feature.properties.iso) ;
              },
              onEachFeature: function onEachFeature(feature, layer) {
                // console.log('feature:', JSON.stringify(feature))
                geom['features'].push(feature)
                var props = feature.properties;
                var content = `<p>${props.iso}</p><p>${props.gnlabel}</p>`;
                layer.bindPopup(content);
            }}).addTo(mappy);
            mappy.fitBounds(cc_layer.getBounds())
          })
          .then(function(){
            geoj.val(JSON.stringify(geom))
          })
      } else {
        // alert('Need some comma-delimited 2-letter country codes')
      }
    }
    // initialize, render map w/settings.LEAFLET_CONFIG
    function map_init (map, options) {
      window.geoj = $("textarea#id_geom.textarea")
      console.log('in map_init(), geoj.val()',geoj.val())
      if (geoj.val() != ''){
        $("#p_geom").show()
        map_render()
      }
    } // end map_init
  </script>
{% endblock %}

<!-- // window.gelems = $('script').filter(function() {
//   return this.id.match(/[0-9]/) && this.text != '"null"';
// });

// for (i=0;i<gelems.length;i++){
//   let t_geom = cleanJson(gelems[i].text)
//   // let t_geom = JSON.parse(JSON.parse(gelems[i].text))
//   t_geom['properties'] = {"id": gelems[i].id, "dataset": "tgn"}
//   geom['features'].push(t_geom)
// } -->
