<!-- datasets/home.html -->
{% extends "main/base.html" %}
{% block title %}<title>WHG::Contributing</title>{% endblock %}

{% block content %}
{% load static %}

  <div class="container">
    <div class="d-flex justify-content-center mt-3">
      <h3>Contributing to World-Historical Gazetteer</h3>
    </div>
    <div class="px-5">
      <!-- {# if user.is_authenticated #}
        <p><a href="dashboard">{{ user.username }} dashboard</a></p>
      {# endif #} -->
      <h4>Basic Requirements</h4>
      <p>Vestibulum sit amet lobortis sem. Nullam scelerisque eleifend sapien, non commodo urna dictum in. Donec vestibulum nibh quis nunc fringilla, eget aliquam sem venenatis. Sed a lectus id velit dictum vulputate sit amet eget velit. Etiam lobortis dolor a ullamcorper eleifend. Praesent mollis volutpat nisl non molestie. Curabitur luctus purus quis leo pulvinar vulputate. Donec iaculis odio vitae gravida faucibus. Nulla sagittis tristique varius. Suspendisse feugiat, odio ut semper ultricies, libero diam vestibulum risus, non pellentesque purus quam nec velit. Pellentesque ut libero rutrum, euismod sem quis, tempor ex. Maecenas urna orci, aliquam non vehicula ut, sollicitudin vel erat. Vestibulum consequat dolor hendrerit gravida faucibus. Donec pretium pulvinar tellus. Nullam tempus hendrerit pretium. Nulla facilisi.</p>
    </div>
    <div class="px-5">
      <h4>The Linked Places Format</h4>
      <p>Nam mi ex, feugiat ac neque id, dignissim hendrerit purus. Proin egestas pharetra purus quis vehicula. Nulla faucibus congue interdum. Duis molestie sem et nisi mattis malesuada. Duis placerat justo libero, nec sollicitudin ipsum ornare nec. Donec tristique sapien massa, et aliquam enim tincidunt laoreet. Ut turpis eros, placerat fermentum eros et, pulvinar molestie nunc. Maecenas faucibus nisl dictum risus gravida, non pulvinar arcu ultrices. Sed lacus libero, consequat vitae purus vitae, mollis elementum mi. Fusce dolor dolor, fermentum consequat congue a, mattis et mi.</p>
    </div>
  </div>
{% endblock %}
