body, html {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  height: 100%;
}
@media (min-width: 768px) {
    #sidebar {
        position: fixed;
        /* top: 0;
        bottom: 0; */
    }
}

#grid_detail {
  /* background-color: #fff7e6; */
}
#ds_recon {
  background-color: ghostwhite;
}
.ds-detail p { margin-bottom: .3rem;}

#geo_constraint {
  /* background-color: #eeeee0; */
}
#recon ul {
  list-style: none;
  padding-left: 0;
  /* margin-top: 12px; */
}
#recon_result, #dummy_column {
  background-color: #eee;
}

.half { font-size: .6em; font-style: italic; margin-top:.6em;}
.pagination {
  background-color: oldlace;
}
.match_radio {background-color: #e0e0e0;}
.match_radio li {display:inline; margin-left:5px;}
.match_radio ul {list-style-type: none; float: right;}

.matchbar {
  background-color: #f5d089;
}
.notefield {
  /* background-color: cornsilk; */
  height:100;
  display: none;
}
.noteicon {margin-left: 4px;}
.noteicon:hover {cursor: pointer;}

.dataset-box {
  border: 1px solid #ccc;
  min-height: 100px;
  background-color: #eeeee0;
  padding:12px;
  border-radius: 16px;
  box-shadow: 3px 3px #eee;
}
.dataset-detail {
  background-color: ghostwhite;
  padding: 10px;
  border-radius: 8px;
  width: 95%;
  margin-left: 0 !important;
}
.block-left {
  display:block;
  float:left;
}
.recon-done {
  font-style: italic;
  color: grey;
}
.form-box {
  border: 1px solid gray;
  background-color: #eeeee0;
  padding:12px;
  border-radius: 16px;
  border-radius: 16px;
  box-shadow: 3px 3px #eee;
}
.form-check-input {
  margin-top: .2rem;
}
:-moz-any(.form-check-input) {
  margin-top: .35rem;
}
.h2em {
  height: 2em;
}

.red-bold {
  color: #dc3545 !important;
  font-weight: bold;
}

.link-bold {
  color: #336699 !important;
  font-weight: bold;
}

tr.place-row {
  cursor: pointer;
  line-height: .75rem;
  font-size: .9em;
}
span.edit-row {
  cursor: pointer;
}
