body, html {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  height: 100%;
}
/*  ?? */
@media (min-width: 768px) {
    #sidebar { position: fixed;}
}
/* p {font-size: .9rem;} */

#grid_detail {
  /* background-color: #fff7e6; */
}

.ghostbox {
  background-color: ghostwhite;
  padding: 12px;
}
.ds-detail p { margin-bottom: .3rem;}

#geo_constraint {
  /* background-color: #eeeee0; */
}

#area_options {
  background-color: ghostwhite;
  padding: 4px;
  font-size: .8rem;
}
.tab-pane {
  padding: 3px;
  background-color: white;
  /* min-height: 128px; */
  border-left: #eeeee0 1px solid;
  border-right: #eeeee0 1px solid;
  border-bottom: #eeeee0 1px solid;
}
#map_area, #map_home, #map_view {
  height: 100%;
  /* position:absolute;top:0;left:0; */
}

/* .leaflet-container { min-height: 100%;} */
.overlap { position:relative; }

#recon ul {
  list-style: none;
  padding-left: 0;
  /* margin-top: 12px; */
}
#select_region option, #select_userarea option{
  margin-right:6px;
}
.p-tight p {
  margin-bottom: .6rem;
}
.top { vertical-align: top;}
.half { font-size: .6em; font-style: italic; margin-top:.6em;}
.pagination {
  background-color: oldlace;
}
.match_radio {background-color: #e0e0e0;}
.match_radio li {display:inline; margin-left:5px;}
.match_radio ul {list-style-type: none; float: right;}

.matchbar {
  background-color: #f5d089;
}
.notefield {
  /* background-color: cornsilk; */
  height:100;
  display: none;
}
.noteicon {margin-left: 4px;}
.noteicon:hover {cursor: pointer;}

.list-box {
  border: 1px solid #ccc;
  min-height: 100px;
  background-color: oldlace;
  padding:12px;
  /* border-radius: 16px; */
  box-shadow: 3px 3px #eee;
}
.task-box {
  border: 1px solid #ccc;
  min-height: 100px;
  background-color: #fff;
  padding:12px;
  /* border-radius: 16px; */
  box-shadow: 3px 3px #eee;
}
.dataset-detail {
  background-color: ghostwhite;
  padding: 10px;
  border-radius: 8px;
  width: 95%;
  margin-left: 0 !important;
}
.block-left {
  display:block;
  float:left;
}
.recon-done {
  font-style: italic;
  color: grey;
}
.form-box {
  border: 1px solid lightgray;
  background-color: oldlace;
  padding:8px;
  border-radius: 8px;
  box-shadow: 3px 3px #eee;
  font-size: .8rem;
}
.form-check-input {
  margin-top: .2rem;
}
:-moz-any(.form-check-input) {
  margin-top: .35rem;
}
.h2em {
  height: 2em;
}
.hidden {display:none;}

.red-bold {
  color: #dc3545 !important;
  font-weight: bold;
}

.link-bold {
  color: #336699 !important;
  font-weight: bold;
}

tr.place-row, tr.dataset-row {
  cursor: pointer;
  line-height: .75rem;
  font-size: .9em;
}
span.edit-row {
  cursor: pointer;
}
